<!-- <p>orders works!</p> -->
<div class="col-lg-12">
<table class="table orderItems-table table-hover table-css col-lg-12 col-md-10 col-md-offset-1">
  <thead class="thead-primary">
    <th>#Order No.</th>
    <th>Customer Name</th>
    <th>No. of items ordered</th>
    <th>Total Amount</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of ordersList" (click)="showDetails(item.orderId)" class="tr-class">
      <td>{{item.orderId}}</td>
      <td>{{item.customerName}}</td>
      <td>{{item.numberOfItemsOrdered}}</td>
      <td>{{item.totalAmount}}</td>
      <td><span [ngClass] = "item.status === 'Order Received' ? 'status-order-received' : item.status === 'Preparing' ? 'status-order-preparing' : 'status-order-ready'"
         class="status-css status-order-received">{{item.status}}</span></td>
      <td><button class="btn-success custom-btn-css" (click)="$event.stopPropagation();updateStatus(item)">Update</button></td>
    </tr>
  </tbody>
</table>
</div>
